[submodule "uboot"]
	path = uboot
	url = https://github.com/Gateworks/uboot-malibu.git
[submodule "atf"]
	path = atf
	url = https://github.com/Gateworks/atf-malibu.git
[submodule "mv-ddr-marvell"]
	path = mv-ddr-marvell
	url = https://github.com/Gateworks/mv_ddr-malibu
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
	branch = 2022.11.x
[submodule "linux"]
	path = linux
	url = https://github.com/Gateworks/linux-malibu.git
	branch = v6.1-malibu
